body {
  font-family: $OpenSans;
  font-size: 16px;
  line-height: 1;
  color: $c-black;
  font-weight: 400;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
}

h1,
.h1,
.reveal h1 {
  font-family: $OpenSans;
  font-size: 	5.063rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.35;
  margin-bottom: 72px;
  text-transform: uppercase;
  color: $c-black;
  span {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: -10px;
      right: -10px;
      background-color: $c-white;
      z-index: -1;
    }
  }
}

h2,
.h2,
.reveal h2 {
  font-family: $OpenSans;
  font-size: 	3.375rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.1;
  margin-bottom: 40px;
  color: $c-black;
  span {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: -10px;
      right: -10px;
      background-color: $c-white;
      z-index: -1;
    }
  }
}

h3,
.h3,
.reveal h3 {
  font-family: $OpenSans;
  font-size: 	2.25rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.1;
  margin-bottom: 30px;
  color: $c-black;
  span {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      right: -10px;
      background-color: $c-white;
      z-index: -1;
    }
  }
}

h4,
.h4,
.reveal h4 {
  font-family: $OpenSans;
  font-size: 	1.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.1;
  margin-bottom: 20px;
  color: $c-black;
  span {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $c-white;
      z-index: -1;
    }
  }
}


p, .p, .reveal p {
  font-family: $OpenSans;
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 300;
  span {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      right: -10px;
      background-color: $c-white;
      z-index: -1;
    }
  }
}

.yellow {
  background-color: $c-yellow;
}

.t-left {
  text-align: left
}
