<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head>
  {{ HEAD }}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>
<body 
  {{ BODY_ATTRS }}>
  {{ APP }}
</body>
</html>
