/* stylelint-disable */
@mixin object-fit($fit: none, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if ($position) {
    font-family: 'object-fit: ' + $fit +' object-position: ' + $position + '';
    -o-object-position: $position;
    object-position: $position;
  }
  @else {
    font-family: 'object-fit: ' + $fit
  }
}

@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin triangle($color, $borders, $height: (($borders * 2) * 0.866%)) {
  width: 0;
  height: 0;
  border-top: $borders solid transparent;
  border-left: $height solid $color;
  border-bottom: $borders solid transparent;
}

@mixin centerAbsolute() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    @content
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    @content
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    @content
  }
}

@mixin tab-l() {
  @media screen and (max-width: 1279.98px) and (min-width: 768px) and (orientation: landscape) {
    @content
  }
}

@mixin mob-l() {
  @media screen and (max-width: 767.98px) and (min-width: 320px) and (orientation: landscape) {
    @content
  }
}

@mixin font-face ($font-name, $file-name, $font-weight, $font-style) {
  @font-face {
    font-family: quote($font-name);
    src:
      url("/fonts/" + $font-name + "/" + $file-name + ".woff2") format("woff2"),
      url("/fonts/"+ $font-name + "/" + $file-name + ".woff") format("woff");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@mixin fully() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin transition($duration...) {
  transition-duration: $duration + s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.41, 1);
}

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
  background-image: -ms-linear-gradient($direction, $list);
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button-reset {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: none;
  }

  &:focus {
    outline: none;
  }
}

@mixin button-disabled {
  filter: alpha(opacity=35);
  opacity: 0.35;
  box-shadow: none;
  cursor: not-allowed;
}

@mixin pseudo($width, $height, $imgUrl: null) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;

  @if ($imgUrl) {
    background: url("/img/#{$imgUrl}");
    background-size: cover;
  }
}

@mixin pink-rect($height) {
  &::before {
    @include horizontal-center;

    content: "";
    z-index: -1;
    bottom: -$height;
    width: 250px;
    height: $height;
    background-color: #f9efea;
  }
}
