<template>
  <div class="reveal">
    <div class="slides">
      <section data-background-color="#ffcc00">
        <div>
          <h1><span>Как</span> дизайнеру <span>передать</span>  макет и <span>моушен</span> Frontend команде</h1>
          <p>Antonyuk Alexander<br> <span>Vintage Web Production</span></p>
        </div>
      </section>
      <section data-background-color="#ffcc00">
        <h2>Правило №1 - дизайн и анимации должны помогать, а не раздражать</h2>
        <iframe width="600px" height="600px" src="https://www.notube.co/media/5ca39749f89a1304007aabef" scrolling="no" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
      </section>
      <section data-background-color="#ffcc00">
        <div>
          <h2><span>ЦЕЛЬ:</span></h2>
          <h2>Закончить проект в <span>СРОК</span> &#9757;</h2>
          <h3>И шоб было красиво</h3>
        </div>
      </section>
      <section data-background-color="#ffcc00">
        <h3 class="t-left">При этом <small>(желательно**)</small>  <span>довольными</span> должны быть:</h3>
        <h4 class="t-left">- дизайнер</h4>
        <h4 class="t-left">- разработчики</h4>
        <h4 class="t-left">- менеджер проекта</h4>
        <h4 class="t-left">- КЛИЕНТ</h4>
      </section>
      <section data-background-color="#ffcc00">
        <h2>Кто такой Frontend Dev &#128640;</h2>
        <div class="front-img">
          <img src="frontend.png" alt="">
        </div>
      </section>  
      <section data-background-color="#ffcc00">
        <h2 class="t-left">Дизайнеру желательно понимать базу <span>HTML / CSS</span> &#129299;</h2>
        <br><br>
        <h3 class="t-left">Несколько ресурсов для примера:</h3>
        <div class="t-left">
          <h4><a class="t-left" href="https://htmlacademy.ru/courses" target="_blank">https://htmlacademy.ru/courses</a></h4>
        </div>  
        <br>
        <div class="t-left">
          <h4><a class="t-left" href="https://www.coursera.org/learn/html-css-javascript-for-web-developers/home/welcome" target="_blank">https://www.coursera.org/learn/html-css-javascript-for-web-developers/home/welcome</a></h4>
        </div>
        <br><br> 
        <h4 class="t-left">Без практики - напрасно потраченое время. Не нужны курсы, преподаватели или фея, все есть в интеренете</h4>
      </section>  
<!--      <section data-background-color="#ffcc00">-->
<!--        <h2>-->
<!--          Если ты точно будешь учить, а не ля ля &#128033;, то вот <span>ЗАДАЧА:</span> <br>-->
<!--          Сверстать сайт (лендос) используя дизайн коллеги по цеху &#128584;-->
<!--        </h2>-->
<!--      </section>  -->
      <section data-background-color="#ffcc00">
        <h2><span>Компонентный</span> подход создания макета и анимаций	&#129504;</h2>
      </section>  
      <section data-background-color="#ffcc00">
        <img width="800px" height="auto" src="components.jpeg" alt="">
        <br><br><br><br><br><br>
        <h4>
          <a href="https://medium.com/@wereheavyweight/how-were-using-component-based-design-5f9e3176babb">https://medium.com/@wereheavyweight/how-were-using-component-based-design-5f9e3176babb</a>
        </h4>
      </section>
      <section data-background-color="#ffcc00">
        <video src="layer.mov" width="auto" height="600px" controls></video>
      </section>
      <section data-background-color="#ffcc00">
        <h3><span>Совет: &#9757; &#65039;</span> делать дизайн точно таким же подходом, это вам сэкономит уйму времени, все будет чистым и без ошибок, главное выбрать правильный инструмент для реализации. </h3>
        <br>
        <h4><small>А правильный инструмент, это <span>Figma</span>, <span>Sketch</span></small>&#128406;</h4>
      </section> 
      <section data-background-color="#ffcc00">
        <h2>Preloader</h2>
        <p>Он не должен быть сложным. Основная миссия прелоадера - заставить юзера подождать пока приложние будет загружено!</p>
        <div><a href="https://nisnom.com/preloadery-loader/" target="_blank">
          Примеры простых прелоадеров
        </a>
        </div>

        <img width="300px" height="auto" src="preloader.gif" alt="">
      </section>  
      <section data-background-color="#ffcc00">
        <h2>Loader</h2>
        <h4 class="t-left">- lazy load для картинок / видео</h4>
        <h4 class="t-left">- для ожидания ответа сервера на данные формы</h4>

        <img width="300px" height="auto" src="loader.webp" alt="">
      </section> 
      <section data-background-color="#ffcc00">
        <div class="videos">
          <video src="video.MP4" width="auto" height="600px" controls></video>
          <video src="video1.MP4" width="auto" height="600px" controls></video>
          <video src="video2.MP4" width="auto" height="600px" controls></video>
        </div>
      </section>   
      <section>
        <section>
          <h1>Передача макета</h1>
        </section>
        <section>
          <h3>#1</h3>
          <br>
          <h2> Создаем файл обменнник и добавляем туда все статические файлы:</h2>
          <h3 class="t-left">- Файл дизайна (оригинал), иногда нужен. </h3>
          <h3 class="t-left">- Моушен, практика показала что реализация на пальцах или десятках ссылок на другие сайты, в результате, дает &#128169;</h3>
          <h3 class="t-left">- Оригиналы картинок и видео</h3>
          <h3>...</h3>
        </section>
        <section>
          <h3>#2</h3>
          <br>
          <h3>...</h3>
          <h3 class="t-left">- Шрифты - <span>БОЛЬ</span>&#129301; </h3>
          <p class="t-left"> &#128073; Форматы: woff, woff2. </p>
          <p class="t-left"> &#128073; Учитывать мультияз </p>
          <p class="t-left"> &#128073; Проверять шрифты </p>
          <p class="t-left"> &#128073; Должны быть только те шрифты и начертания, которые есть в проекте </p>  
          <br>
          <p class="t-left"><a href="https://transfonter.org/" target="_blank" class="t-left">Лайв пример -> https://transfonter.org/</a></p>
        </section>  
        <section>
          <h3>#3</h3>
          <br>
          <h3>...</h3>
          <h3 class="t-left">- Все иконки должны быть в векторе!!! И загружены отдельными файлами. </h3>
          <h3>...</h3>
        </section>  
      </section>
      <section data-background-color="#ffcc00">
        <section>
          <h1><span>База.</span> Нашим фундаментом будет набор UI элементов</h1>
        </section>
        <section>
          <h3 class="t-left">1) Цветовая палитра </h3> 
          <h3 class="t-left">2) Типографика по тегам: </h3> 
          <h4 class="t-left">- h1 - h6</h4>
          <h4 class="t-left">- p</h4>
          <h4 class="t-left">- ul /ol -> li</h4>
          <h4 class="t-left">- button, a </h4>
          <br> 
          <h4 class="t-left">&#9757; <span>Обязательно</span> сделать типографику для всех устройств 320 / 768 / 1280 ... </h4> 
          <a target="_blank" href="https://material.io/design/typography/the-type-system.html#applying-the-type-scale">https://material.io/design/typography/the-type-system.html#applying-the-type-scale</a>
        </section>  
        <section>
          <h3 class="t-left">3) <span>Buttons:</span> main, secondary, links </h3>
          <br>
          <img width="800px" height="auto" src="btn.png" alt="">
        </section>  
        <section>
          <button class="sample-btn">

          </button>
        </section> 
        <section>
          <h3 class="t-left">4) <span>Inputs</span>   | states: </h3>
          <br>
          <img width="800px" height="auto" src="inputs.png" alt="">
        </section> 
        <section>
          <h3 class="t-left">5) Добавляем все UI элементы с возможными состояниями которые будут          
        использованы на проекте Дропдауны, Календари, Графики, Иконки, прелоадеры, лоадеры и т.п. </h3>
        </section>
      </section>  
      <section>
        <h1>Анимации: &#9889; &#65039;</h1>
        <h4 class="t-left">CSS &#128584;</h4> 
        <div class="t-left"><a target="_blank" href="https://daneden.github.io/animate.css/">https://daneden.github.io/animate.css/</a></div>
        <div class="t-left"><a target="_blank" href="https://forester.subaru.ua">https://forester.subaru.ua</a></div>
        <br><br>
        <h4 class="t-left">SVG &#128585;</h4> 
        <div class="t-left"><a target="_blank" href="https://www.it.ua/ru">https://www.it.ua/ru</a></div>
        <div class="t-left"><a target="_blank" href="https://shashlikyan.ua/">https://shashlikyan.ua/</a></div>
        <div class="t-left"><a target="_blank" href="https://hemafund.com/">https://hemafund.com/</a></div>
        <br><br>
        <h4 class="t-left">Canvas &#128586;</h4>
        <div class="t-left"><a target="_blank" href="https://shashlikyan.ua/delivery">https://shashlikyan.ua/delivery</a></div>
        <div class="t-left"><a target="_blank" href="https://sealifeschool.com/">https://sealifeschool.com/</a></div>
        <div class="t-left"><a target="_blank" href="https://www.rivierahouse.com.ua/">https://www.rivierahouse.com.ua/</a></div>
        <div class="t-left"><a target="_blank" href="https://shashlikyan.ua/delivery">http://11mirrors-hotel.com/</a></div>
        <div class="t-left"><a target="_blank" href="https://www.telsis.com/">https://www.telsis.com/</a></div>
        <div class="t-left"><a target="_blank" href="https://bank.com.ua/">https://bank.com.ua/</a></div>
        <div class="t-left"><a target="_blank" href="https://bank.com.ua/">http://riviera-hotel.com.dev11.vintagedev.com.ua/</a></div>


      </section>
      <section data-background-color="#ffcc00">
        <h1>Mobile first design <br> approach &#128241;</h1>
        <br>
        <img width="800px" height="auto" src="mobile.jpg" alt="">
      </section>  
      <section>
        <h1>Спасибо! &#128570;</h1>
        <img width="500px" height="auto" src="cheers.gif" alt="">
      </section>
      <section data-background-color="#ffcc00">
        <h2>Если есть вопросы, пиши в телеграм: +38 093 949 71 12</h2>
      </section>  
    </div>
  </div>
</template>

<script>
  import Reveal from 'reveal'

  export default {
    name: 'index_page',
    head: {
      titleTemplate: 'Передача макета Frontend команде'
    },
    mounted () {
      Reveal.initialize({
        progress: true,
        slideNumber: true,
        hash: true,
        history: true
      })
    }
  }
</script>

<style lang="scss">
  .front-img {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    img {
      width: 100%;
      height: auto;
      min-height: 2200px;
    }
  }

  .sample-btn {
    height: 250px;
    width: 800px;
    border: 20px solid #333;
    background: transparent;
    border-radius: 0;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    transition: 0.5s;
    &:after {
      content: 'ENABLED';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
    }
    &:hover {
      &:after {
        content: 'HOVERED';
      }
      background-color: rgba(255,255,255,0.5);
    }
    &:active {
      &:after {
        content: 'CLICKED';
      }
      background-color: rgba(255, 25, 25, 1);
    }
  }

  .inline-iframe-video {
    width: 600px;
    height: 600px;
  }

  .videos {
    display: flex;
    video {
      margin: 0 20px;
    }
  }
</style>
